<strong class="d-inline-block mb-2 text-success">Design</strong>

<h3 class="mb-0">
    <%= @agent.full_name %>
</h3>

<div class="mb-1 text-muted">
    Email: <%= @agent.email %>
</div>

<p class="card-text mb-auto">
    Link: <%= @agent.url %>
</p>

<a href="#">
    Contact Agent
</a>