<% @properties.each do |property| %>
    <div class="col-md-4">
        <%= property_thumbnail(property) %>
        <h2> <%= property.name %> </h2>
        <p>
            <%= link_to 'View Detail', property_path(property), class:"btn btn-info" %>
        </p>
    </div>
<% end %>
