// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alert.alert-info {
    display: none;
}

.jumbotron {
    width: 100%;
    height: 780px;
    padding: 0;
}

.jumbotron .photo-overlay .container {
    padding-top: 225px;
    color: white;
}